
<div class="addnewrecords_wrapper">
  <div class="addnewrecords_inner">
    <div class="addnewrecords_header">
      <div class="addnewrecords_searchwrap">
        <form [formGroup]="searchform"  class="example-form" (ngSubmit)="submit($event)">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Place name" [(ngModel)]="searchp" formControlName="search" (input)="submit(searchp)" >
          </mat-form-field>
        </form>
        </div>
        <div class="addnewrecords_btnwrap">
        <button mat-button color="primary" routerLink="/">Add New Record</button>
      </div>
    </div>
    <div class="addnewrecords_content">
      <table *ngIf="dataSource.length!=0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name.charAt(0).toUpperCase() + element.name.substr(1).toLowerCase()}} </td>
        </ng-container>
      
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
      
        <ng-container matColumnDef="phone_number">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <div *ngIf="dataSource.length ==0"><h3>No Records Found!!</h3></div>
    </div>
  </div>  
</div>




