.details_form {
    &-wrapper {
        padding: 100px 0;
    }
    &-inner {
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 5px 15px -5px rgb(0 0 0 / 30%);
        border-radius: 12px;
        overflow: hidden;
        // padding: 15px;
        ::ng-deep {
            .mat-card {
                box-shadow: none;
                padding: 0;
            }
            .mat-card-title {
                background: #3f51b5;
                padding: 20px 15px;
                color: #fff;
                font-size: 20px;
                text-align: center;
            }
            .mat-form-field {
                width: 100%;
            }
            .mat-card-content {
                padding: 10px 50px 30px;
            }
            button {
                margin-top: 30px;
            }
        }
    }
    &-bottom {
        text-align: center;
        padding: 40px;
        a{
            font-size: 16px;
            color: #3f51b5;
            text-decoration: none;
        }
    }
}
mat-form-field {
    margin-right: 12px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}